In [1]:
#import pandas library
import pandas as pd

In [2]:
from IPython.display import HTML
# Youtube
HTML('<iframe width="560" height="315" src="https://www.youtube.com/embed/y5VCQ9sIMuA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>')

In [2]:
#create data frame by reading data from data source by providing URL of data.
# we will use the IRIS dataset
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header=None)

In [3]:
#reading the top five rows of the data frame
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [4]:
#rfetching the first 4 columns of data frame in another data frame
df1 = df[df.columns[:4]]

In [5]:
#display data frame df1
df1.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [6]:
#import library for implementing Kmeans clustering
from sklearn.cluster import KMeans

In [7]:
#creating cluster object with no of clusters defined = 3
#question can you tell why 3 is hardcoded and how can you avoid it is it ideal scenario??
#hyper parameter tuning can be used explore
knn = KMeans(n_clusters = 3)

In [8]:
# fit the model predict the clusters
knn.fit(df1)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=3, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [9]:
#predicting the cluster labels for every data point
y_pred = knn.predict(df1)

In [10]:
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 2, 0, 0, 2, 2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 0, 2, 2, 2, 2,
       2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 0], dtype=int32)

In [11]:
#converting the predicted cluster labels from array to series 
df2 = pd.Series(y_pred)

In [12]:
#merging the above created series into the original data frame
df3 = pd.concat([df1,df2],axis=1)

In [13]:
#saving the results in a csv file format
df3.to_csv('output.csv')

In [14]:
df3

       0    1    2    3  0
0    5.1  3.5  1.4  0.2  1
1    4.9  3.0  1.4  0.2  1
2    4.7  3.2  1.3  0.2  1
3    4.6  3.1  1.5  0.2  1
4    5.0  3.6  1.4  0.2  1
5    5.4  3.9  1.7  0.4  1
6    4.6  3.4  1.4  0.3  1
7    5.0  3.4  1.5  0.2  1
8    4.4  2.9  1.4  0.2  1
9    4.9  3.1  1.5  0.1  1
10   5.4  3.7  1.5  0.2  1
11   4.8  3.4  1.6  0.2  1
12   4.8  3.0  1.4  0.1  1
13   4.3  3.0  1.1  0.1  1
14   5.8  4.0  1.2  0.2  1
15   5.7  4.4  1.5  0.4  1
16   5.4  3.9  1.3  0.4  1
17   5.1  3.5  1.4  0.3  1
18   5.7  3.8  1.7  0.3  1
19   5.1  3.8  1.5  0.3  1
20   5.4  3.4  1.7  0.2  1
21   5.1  3.7  1.5  0.4  1
22   4.6  3.6  1.0  0.2  1
23   5.1  3.3  1.7  0.5  1
24   4.8  3.4  1.9  0.2  1
25   5.0  3.0  1.6  0.2  1
26   5.0  3.4  1.6  0.4  1
27   5.2  3.5  1.5  0.2  1
28   5.2  3.4  1.4  0.2  1
29   4.7  3.2  1.6  0.2  1
..   ...  ...  ...  ... ..
120  6.9  3.2  5.7  2.3  2
121  5.6  2.8  4.9  2.0  0
122  7.7  2.8  6.7  2.0  2
123  6.3  2.7  4.9  1.8  0
124  6.7  3.3  5.7  2.1  2
125  7.2  3.2  6.0  1.8  2
126  6.2  2.8  4.8  1.8  0
127  6.1  3.0  4.9  1.8  0
128  6.4  2.8  5.6  2.1  2
129  7.2  3.0  5.8  1.6  2
130  7.4  2.8  6.1  1.9  2
131  7.9  3.8  6.4  2.0  2
132  6.4  2.8  5.6  2.2  2
133  6.3  2.8  5.1  1.5  0
134  6.1  2.6  5.6  1.4  2
135  7.7  3.0  6.1  2.3  2
136  6.3  3.4  5.6  2.4  2
137  6.4  3.1  5.5  1.8  2
138  6.0  3.0  4.8  1.8  0
139  6.9  3.1  5.4  2.1  2
140  6.7  3.1  5.6  2.4  2
141  6.9  3.1  5.1  2.3  2
142  5.8  2.7  5.1  1.9  0
143  6.8  3.2  5.9  2.3  2
144  6.7  3.3  5.7  2.5  2
145  6.7  3.0  5.2  2.3  2
146  6.3  2.5  5.0  1.9  0
147  6.5  3.0  5.2  2.0  2
148  6.2  3.4  5.4  2.3  2
149  5.9  3.0  5.1  1.8  0

[150 rows x 5 columns]