In [1]:
#import pandas library
import pandas as pd

In [2]:
#create data frame by reading data from data source by providing URL of data.
# we will use the IRIS dataset
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header=None)

In [3]:
#reading the top five rows of the data frame
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [4]:
#rfetching the first 4 columns of data frame in another data frame
df1 = df[df.columns[:4]]

In [5]:
#display data frame df1
df1.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [6]:
#import library for implementing Kmeans clustering
from sklearn.cluster import KMeans

In [7]:
#creating cluster object with no of clusters defined = 3
#question can you tell why 3 is hardcoded and how can you avoid it is it ideal scenario??
#hyper parameter tuning can be used explore
knn = KMeans(n_clusters = 3)

In [8]:
# fit the model predict the clusters
knn.fit(df1)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=3, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [9]:
#predicting the cluster labels for every data point
y_pred = knn.predict(df1)

In [10]:
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 2, 0, 0, 2, 2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 0, 2, 2, 2, 2,
       2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 0], dtype=int32)

In [11]:
#converting the predicted cluster labels from array to series 
df2 = pd.Series(y_pred)

In [12]:
#merging the above created series into the original data frame
df3 = pd.concat([df1,df2],axis=1)

In [13]:
#saving the results in a csv file format
df3.to_csv('output.csv')