In [1]:
#import pandas library
#testing
import pandas as pd

In [2]:
from IPython.display import HTML
# Youtube
HTML('<iframe width="560" height="315" src="https://www.youtube.com/embed/y5VCQ9sIMuA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>')

In [13]:
import pyperclip

In [19]:
tst = pd.read_csv('sample.txt',sep='\t',encoding='latin-1')

In [20]:
tst.head()

,Classification,Jurisdiction,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006
0,Very Easy,New Zealand,1,1,1,2,2,3.0,3.0,3.0,3.0,2.0,2.0,2.0,2.0,1
1,Very Easy,Singapore,2,2,2,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2
2,Very Easy,Denmark,3,3,3,3,4,5.0,5.0,5.0,6.0,6.0,5.0,5.0,7.0,8
3,Very Easy,Hong Kong,4,5,4,5,3,2.0,2.0,2.0,2.0,3.0,4.0,4.0,5.0,7
4,Very Easy,South Korea,5,4,5,4,5,7.0,8.0,8.0,16.0,19.0,23.0,30.0,23.0,27

In [28]:
x = tst[tst.columns[2]]

In [5]:
#create data frame by reading data from data source by providing URL of data.
# we will use the IRIS dataset
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header=None)

In [6]:
#reading the top five rows of the data frame
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [ ]:
#rfetching the first 4 columns of data frame in another data frame
df1 = df[df.columns[:4]]

In [ ]:
#display data frame df1
df1.head()

In [30]:
#import library for implementing Kmeans clustering
from sklearn.cluster import KMeans

In [31]:
#creating cluster object with no of clusters defined = 3
#question can you tell why 3 is hardcoded and how can you avoid it is it ideal scenario??
#hyper parameter tuning can be used explore
knn = KMeans(n_clusters = 3)

In [32]:
# fit the model predict the clusters
knn.fit(df1)

ValueError: Expected 2D array, got 1D array instead:
array=[  1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.  14.
  15.  16.  17.  18.  19.  20.  21.  22.  23.  24.  25.  26.  27.  28.
  29.  30.  31.  32.  33.  34.  35.  36.  37.  38.  39.  40.  41.  42.
  43.  44.  45.  46.  47.  48.  49.  50.  52.  51.  53.  54.  59.  58.
  57.  56.  55.  68.  65.  67.  74.  66.  64.  63.  62.  72.  69.  60.
  75.  78.  73.  85.  76.  81.  71.  70.  79.  61.  86.  82.  83.  84.
  87.  89.  90.  80.  91.  94.  93.  92.  88.  95.  96.  97.  98. 103.
 102.  77. 101. 105. 104. 106. 110. 107. 112. 113. 108. 111. 100. 117.
 124. 116. 121. 115. 119. 123. 118. 114. 125. 127. 126. 128. 109. 134.
 131. 120. 130. 133. 132. 129. 142. 140. 138. 139. 144. 135. 122. 141.
 154. 147. 145. 143. 146. 149. 136. 151. 150. 148. 153. 156. 152.  99.
 160. 137. 158. 164. 155. 163. 159. 161. 166. 168. 165. 157. 169. 171.
 170. 162. 171. 174. 177. 179. 173. 175. 176. 178. 180. 181. 182. 184.
 167. 183. 186. 187. 185. 188. 189. 190.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
#predicting the cluster labels for every data point
y_pred = knn.predict(df1)

In [ ]:
y_pred

In [ ]:
#converting the predicted cluster labels from array to series 
df2 = pd.Series(y_pred)

In [ ]:
#merging the above created series into the original data frame
df3 = pd.concat([df1,df2],axis=1)

In [ ]:
#saving the results in a csv file format
df3.to_csv('output.csv')